.rightAreaSection {
    margin-left: 20px;
    margin-top: 20px;
    width: 440px;
    min-width: 440px;

    .inner {
        padding: 8px;
        box-shadow: 0px 0px 4.7px 0px #00000038;
        border-radius: 14px;
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .rightAreaSection {
        width: 100%;
        margin-left: 0;
        display: flex;
        justify-content: center;
        
        .inner {
            width: 440px;
        }
    }
}
@media (max-width: 440px) {
    .rightAreaSection {
        min-width: 100%;
    }
}