.callDetailPageStyle {
    .bottomArea {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        z-index: 1;
        padding: 0 20px;
    }
}

.sidebarDetailsPage {
    display: none;
}

.callDetailsPageLayout {
    /* width: 100vw; */
    margin: 0;
}